{% extends "games/base.html" %}
{% load static %}
{% block title %}td Puzzles{% endblock %}
{% block content %}
<div class="game-cards">
  <a href="/words/" class="game-card game-card-words">
    <div class="game-card-icon">
      <!-- GridOn icon -->
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 2H4C2.9 2 2 2.9 2 4v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-9 17H4v-6h7v6zm0-8H4V4h7v7zm9 8h-7v-6h7v6zm0-8h-7V4h7v7z"/>
      </svg>
    </div>
    <div class="game-card-text">
      <h2>Words</h2>
      <p>Find as many words as you can before time runs out.</p>
    </div>
  </a>
  <a href="/numbers/" class="game-card game-card-numbers">
    <div class="game-card-icon">
      <!-- Calculate icon -->
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14h-2v-2h2v2zm0-4h-2V7h2v6zM7 17l-1.41-1.41L9.17 12 5.59 8.41 7 7l5 5-5 5zm8 0h-2v-2h2v2zm2-4h-2v-2h2v2zm0-4h-4V7h4v2z"/>
      </svg>
    </div>
    <div class="game-card-text">
      <h2>Numbers</h2>
      <p>Combine six numbers to get as close to the target as you can.</p>
    </div>
  </a>
</div>
{% endblock %}
